
.vs/Assgment_Nhom3_WebBanDienThoai/DesignTimeBuild/.dtbcache.v2
.vs/Assgment_Nhom3_WebBanDienThoai/DesignTimeBuild/.dtbcache.v2
.vs/Assgment_Nhom3_WebBanDienThoai/v17/.futdcache.v1
Assgment_Nhom3_WebBanDienThoai/Models/ShoppingDbContext.cs
Assgment_Nhom3_WebBanDienThoai/Models/ShoppingDbContext.cs
Assgment_Nhom3_WebBanDienThoai/Models/ShoppingDbContext.cs
.vs/Assgment_Nhom3_WebBanDienThoai/v17/.suo
AppAPI/obj/AppAPI.csproj.nuget.dgspec.json
AppAPI/obj/AppAPI.csproj.nuget.g.props
AppAPI/obj/Debug/net6.0/AppAPI.assets.cache
AppAPI/obj/Debug/net6.0/AppAPI.csproj.AssemblyReference.cache
AppAPI/obj/Debug/net6.0/AppAPI.GeneratedMSBuildEditorConfig.editorconfig
AppAPI/obj/project.assets.json
AppAPI/obj/project.nuget.cache
Assgment_Nhom3_WebBanDienThoai/obj/Assgment_Nhom3_WebBanDienThoai.csproj.nuget.dgspec.json
Assgment_Nhom3_WebBanDienThoai/obj/Assgment_Nhom3_WebBanDienThoai.csproj.nuget.g.props
Assgment_Nhom3_WebBanDienThoai/obj/Debug/net6.0/Assgment_Nhom3_WebBanDienThoai.assets.cache
Assgment_Nhom3_WebBanDienThoai/obj/Debug/net6.0/Assgment_Nhom3_WebBanDienThoai.csproj.AssemblyReference.cache
Assgment_Nhom3_WebBanDienThoai/obj/Debug/net6.0/Assgment_Nhom3_WebBanDienThoai.GeneratedMSBuildEditorConfig.editorconfig
Assgment_Nhom3_WebBanDienThoai/obj/project.assets.json
Assgment_Nhom3_WebBanDienThoai/obj/project.nuget.cache
Assgment_Nhom3_WebBanDienThoai/obj/staticwebassets.pack.sentinel
AppAPI/obj/staticwebassets.pack.sentinel
AppAPI/obj/Debug/net6.0/AppAPI.csproj.AssemblyReference.cache
.vs/Assgment_Nhom3_WebBanDienThoai/v17/.suo
AppAPI/bin/Debug/net6.0/Assgment_Nhom3_WebBanDienThoai.dll
AppAPI/bin/Debug/net6.0/AppAPI.dll
.vs/Assgment_Nhom3_WebBanDienThoai/FileContentIndex/eaf68621-860e-49f8-99be-2c676a895835.vsidx
.vs/Assgment_Nhom3_WebBanDienThoai/FileContentIndex/17bfa279-208b-4018-946e-36f6d24d4a88.vsidx
AppAPI/obj/Debug/net6.0/AppAPI.csproj.AssemblyReference.cache
.vs/Assgment_Nhom3_WebBanDienThoai/FileContentIndex/e16ce63b-89a4-498a-9eb8-1d483d558815.vsidx
.vs/Assgment_Nhom3_WebBanDienThoai/FileContentIndex/4d3fa7c0-c644-4c94-9fbd-207677795ae2.vsidx
