
.vs/Assgment_Nhom3_WebBanDienThoai/DesignTimeBuild/.dtbcache.v2
.vs/Assgment_Nhom3_WebBanDienThoai/DesignTimeBuild/.dtbcache.v2
.vs/Assgment_Nhom3_WebBanDienThoai/v17/.futdcache.v1
Assgment_Nhom3_WebBanDienThoai/Models/ShoppingDbContext.cs
Assgment_Nhom3_WebBanDienThoai/Models/ShoppingDbContext.cs
Assgment_Nhom3_WebBanDienThoai/Models/ShoppingDbContext.cs
.vs/Assgment_Nhom3_WebBanDienThoai/v17/.suo
AppAPI/obj/AppAPI.csproj.nuget.dgspec.json
AppAPI/obj/AppAPI.csproj.nuget.g.props
AppAPI/obj/Debug/net6.0/AppAPI.assets.cache
AppAPI/obj/Debug/net6.0/AppAPI.csproj.AssemblyReference.cache
AppAPI/obj/Debug/net6.0/AppAPI.GeneratedMSBuildEditorConfig.editorconfig
AppAPI/obj/project.assets.json
AppAPI/obj/project.nuget.cache
Assgment_Nhom3_WebBanDienThoai/obj/Assgment_Nhom3_WebBanDienThoai.csproj.nuget.dgspec.json
Assgment_Nhom3_WebBanDienThoai/obj/Assgment_Nhom3_WebBanDienThoai.csproj.nuget.g.props
Assgment_Nhom3_WebBanDienThoai/obj/Debug/net6.0/Assgment_Nhom3_WebBanDienThoai.assets.cache
Assgment_Nhom3_WebBanDienThoai/obj/Debug/net6.0/Assgment_Nhom3_WebBanDienThoai.csproj.AssemblyReference.cache
Assgment_Nhom3_WebBanDienThoai/obj/Debug/net6.0/Assgment_Nhom3_WebBanDienThoai.GeneratedMSBuildEditorConfig.editorconfig
Assgment_Nhom3_WebBanDienThoai/obj/project.assets.json
Assgment_Nhom3_WebBanDienThoai/obj/project.nuget.cache
Assgment_Nhom3_WebBanDienThoai/obj/staticwebassets.pack.sentinel
AppAPI/obj/staticwebassets.pack.sentinel
AppAPI/obj/Debug/net6.0/AppAPI.csproj.AssemblyReference.cache
.vs/Assgment_Nhom3_WebBanDienThoai/v17/.suo
.vs/Assgment_Nhom3_WebBanDienThoai/v17/.suo
.vs/Assgment_Nhom3_WebBanDienThoai/v17/.futdcache.v1
.vs/Assgment_Nhom3_WebBanDienThoai/DesignTimeBuild/.dtbcache.v2
.vs/Assgment_Nhom3_WebBanDienThoai/v17/.suo
Assgment_Nhom3_WebBanDienThoai/obj/staticwebassets.pack.sentinel
AppAPI/obj/staticwebassets.pack.sentinel
AppAPI/obj/Debug/net6.0/AppAPI.csproj.AssemblyReference.cache
.vs/Assgment_Nhom3_WebBanDienThoai/v17/.suo
.vs/Assgment_Nhom3_WebBanDienThoai/v17/.futdcache.v1
.vs/Assgment_Nhom3_WebBanDienThoai/DesignTimeBuild/.dtbcache.v2
.vs/Assgment_Nhom3_WebBanDienThoai/DesignTimeBuild/.dtbcache.v2
.vs/Assgment_Nhom3_WebBanDienThoai/FileContentIndex/2ebbd994-b477-494a-afb5-c00e2558f1a9.vsidx
.vs/Assgment_Nhom3_WebBanDienThoai/FileContentIndex/4a53765b-5e2b-41c8-b01b-44afe00f2248.vsidx
.vs/Assgment_Nhom3_WebBanDienThoai/FileContentIndex/51e152ec-af74-4e4e-8316-8eb0834a4b65.vsidx
.vs/Assgment_Nhom3_WebBanDienThoai/FileContentIndex/5f3bbf97-7787-401b-82f0-22b94611838f.vsidx
.vs/Assgment_Nhom3_WebBanDienThoai/FileContentIndex/c64153f2-6704-40f8-a298-7286344cbc61.vsidx
.vs/Assgment_Nhom3_WebBanDienThoai/FileContentIndex/db3e8590-71ae-4f75-a49d-7cc3b35a9948.vsidx
.vs/Assgment_Nhom3_WebBanDienThoai/FileContentIndex/db57ad08-da79-408e-9a88-83696d68beba.vsidx
.vs/Assgment_Nhom3_WebBanDienThoai/FileContentIndex/dc45ccc8-8c04-4f83-b45a-c58b9f470fe0.vsidx
.vs/Assgment_Nhom3_WebBanDienThoai/v17/.futdcache.v2
.vs/Assgment_Nhom3_WebBanDienThoai/v17/.suo
.vs/Assgment_Nhom3_WebBanDienThoai/v17/.wsuo
.vs/Assgment_Nhom3_WebBanDienThoai/v17/fileList.bin
.vs/ProjectEvaluation/assgment_nhom3_webbandienthoai.metadata.v7.bin
.vs/ProjectEvaluation/assgment_nhom3_webbandienthoai.projects.v7.bin
.vs/VSWorkspaceState.json
AppAPI/obj/AppAPI.csproj.nuget.dgspec.json
AppAPI/obj/AppAPI.csproj.nuget.g.props
AppAPI/obj/Debug/net6.0/AppAPI.assets.cache
AppAPI/obj/Debug/net6.0/AppAPI.csproj.AssemblyReference.cache
AppAPI/obj/Debug/net6.0/AppAPI.GeneratedMSBuildEditorConfig.editorconfig
AppAPI/obj/Debug/net6.0/project.razor.vs.json
AppAPI/obj/project.assets.json
AppAPI/obj/project.nuget.cache
Assgment_Nhom3_WebBanDienThoai/obj/Assgment_Nhom3_WebBanDienThoai.csproj.nuget.dgspec.json
Assgment_Nhom3_WebBanDienThoai/obj/Assgment_Nhom3_WebBanDienThoai.csproj.nuget.g.props
Assgment_Nhom3_WebBanDienThoai/obj/Debug/net6.0/Assgment_Nhom3_WebBanDienThoai.assets.cache
Assgment_Nhom3_WebBanDienThoai/obj/Debug/net6.0/Assgment_Nhom3_WebBanDienThoai.GeneratedMSBuildEditorConfig.editorconfig
Assgment_Nhom3_WebBanDienThoai/obj/Debug/net6.0/project.razor.vs.json
Assgment_Nhom3_WebBanDienThoai/obj/project.assets.json
Assgment_Nhom3_WebBanDienThoai/obj/project.nuget.cache
.vs/Assgment_Nhom3_WebBanDienThoai/v17/.suo
.vs/Assgment_Nhom3_WebBanDienThoai/v17/.futdcache.v2
.vs/Assgment_Nhom3_WebBanDienThoai/DesignTimeBuild/.dtbcache.v2
Assgment_Nhom3_WebBanDienThoai/obj/Debug/net6.0/staticwebassets.pack.json
Assgment_Nhom3_WebBanDienThoai/obj/Debug/net6.0/staticwebassets.development.json
Assgment_Nhom3_WebBanDienThoai/obj/Debug/net6.0/staticwebassets.build.json
Assgment_Nhom3_WebBanDienThoai/obj/Debug/net6.0/refint/Assgment_Nhom3_WebBanDienThoai.dll
Assgment_Nhom3_WebBanDienThoai/obj/Debug/net6.0/ref/Assgment_Nhom3_WebBanDienThoai.dll
Assgment_Nhom3_WebBanDienThoai/obj/Debug/net6.0/Assgment_Nhom3_WebBanDienThoai.pdb
Assgment_Nhom3_WebBanDienThoai/obj/Debug/net6.0/Assgment_Nhom3_WebBanDienThoai.genruntimeconfig.cache
Assgment_Nhom3_WebBanDienThoai/obj/Debug/net6.0/Assgment_Nhom3_WebBanDienThoai.dll
Assgment_Nhom3_WebBanDienThoai/obj/Debug/net6.0/Assgment_Nhom3_WebBanDienThoai.csproj.FileListAbsolute.txt
Assgment_Nhom3_WebBanDienThoai/obj/Debug/net6.0/Assgment_Nhom3_WebBanDienThoai.csproj.CoreCompileInputs.cache
Assgment_Nhom3_WebBanDienThoai/obj/Debug/net6.0/apphost.exe
Assgment_Nhom3_WebBanDienThoai/bin/Debug/net6.0/Assgment_Nhom3_WebBanDienThoai.staticwebassets.runtime.json
Assgment_Nhom3_WebBanDienThoai/bin/Debug/net6.0/Assgment_Nhom3_WebBanDienThoai.pdb
Assgment_Nhom3_WebBanDienThoai/bin/Debug/net6.0/Assgment_Nhom3_WebBanDienThoai.exe
Assgment_Nhom3_WebBanDienThoai/bin/Debug/net6.0/Assgment_Nhom3_WebBanDienThoai.dll
.vs/Assgment_Nhom3_WebBanDienThoai/v17/.suo
.vs/Assgment_Nhom3_WebBanDienThoai/v17/.futdcache.v2
.vs/Assgment_Nhom3_WebBanDienThoai/v17/.suo
.vs/ProjectEvaluation/assgment_nhom3_webbandienthoai.metadata.v5.2
.vs/ProjectEvaluation/assgment_nhom3_webbandienthoai.metadata.v6.1
.vs/ProjectEvaluation/assgment_nhom3_webbandienthoai.projects.v5.2
.vs/ProjectEvaluation/assgment_nhom3_webbandienthoai.projects.v6.1
Assgment_Nhom3_WebBanDienThoai/bin/Debug/net6.0/Newtonsoft.Json.dll
Assgment_Nhom3_WebBanDienThoai/bin/Debug/net6.0/Assgment_Nhom3_WebBanDienThoai.dll
AppAPI/bin/Debug/net6.0/Assgment_Nhom3_WebBanDienThoai.dll
AppAPI/bin/Debug/net6.0/AppAPI.exe
AppAPI/bin/Debug/net6.0/AppAPI.dll
.vs/Assgment_Nhom3_WebBanDienThoai/FileContentIndex/ee5d21b6-ac53-4675-8ec5-6e1ed26bb28c.vsidx
.vs/Assgment_Nhom3_WebBanDienThoai/FileContentIndex/b388d923-5771-47ae-963a-da174082b93d.vsidx
.vs/Assgment_Nhom3_WebBanDienThoai/FileContentIndex/8d095de4-b7c5-4b91-b179-404b88517666.vsidx
.vs/Assgment_Nhom3_WebBanDienThoai/FileContentIndex/25833fe3-4b58-4c32-873a-62656e0dd272.vsidx
